svg text {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

svg image {
   pointer-events: none;
}

.chat {
   position: fixed;
   bottom: 0px;
   width: 100%;
   background: white;
}

@keyframes slide-in {
  from {
     transform: translate(2800px, 0px);
  }

  to {
     transform: translate(0px, 0px);
  }
}

.slide-in {
   animation: slide-in 1s;
}
